{% extends "form_group.jinja2" %}
{% block control %}
<input
  type="text"
  class="form-control datepicker"
  id="{{ path }}"
  name="{{ path }}"
  {{ "required" if required else "" }}
>
{% endblock %}