{#
TODO: include
#}
{% extends "form_group.jinja2" %}
{% block control %}
<input
  type="text"
  {% if not schema.get("unique") %}data-allow-duplicates{% endif %}
  id="{{ path }}"
  name="{{ path }}:csv"
  class="form-control tagsinput"
  {{ "required" if required else "" }}
  {% if "desc" in schema %}
    placeholder="{{ schema["desc"]|e }} - comma to add another"
  {% else %}
    placeholder="Comma to add another"
  {% endif %}
/>
{% endblock %}