{#
TODO: dynamic control for inputting lists
TODO: multiple entry support (+ matching)
TODO: include
TODO: required
TODO: unique
#}
{% extends "form_group.jinja2" %}
{% block control %}
<input
  type="text"
  data-role="tagsinput"
  id="{{ path }}"
  name="{{ path }}:csv"
  class="form-control"
  {{ "required" if required else "" }}
  placeholder="Comma to add another"
/>
{% endblock %}